    /*estructura de la página*/
html,body {
    height:100%;
}

header {
    display:block;
    background:hsla(305, 100%, 74%, 0.781);
    padding:20px 10px;
}
section {
    width: 100%;
    float: left;
    overflow: auto;
    padding-bottom: 60px;
    padding-top:30px;
}

footer {
    position: relative;
    margin-top: -50px;
    height: 40px; 
    padding:5px 0px;
    clear: both;
    background: hsla(291, 71%, 80%, 0.919);
    text-align: center;
    color: #000000;
}


    /*Menu*/
	.menu-container {
		position: relative;
		text-align: left;
	}
	.menu-button {
		background-color: #4CAF50;
		color: white;
		padding: 10px 20px;
		border: none;
		cursor: pointer;
	}
	.dropdown-menu {
		display: none;
		position: absolute;
		background-color: #f9f9f9;
		min-width: 160px;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		z-index: 1;
	}
	.dropdown-menu button {
		display: block;
		width: 100%;
		background-color: #4CAF50;
		color: white;
		padding: 10px 20px;
		border: none;
		cursor: pointer;
	}
 /*slider*/
/* Ajuste de posicionamiento para el logo */
.logo {
    position: absolute;
    top: 10px; /* Ajusta el valor según sea necesario para evitar que el logo tape las imágenes */
    left: 10px; /* Ajusta el valor para posicionar el logo en la parte izquierda */
    z-index: 999; /* Asegura que el logo esté por encima de las imágenes */
	width: 80px; /* Ajusta el ancho según sea necesario */
    height: 80px; /* Ajusta la altura según sea necesario */
}
.slider {
    position: relative;
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
}

.slider ul {
    display: flex;
    padding: 0;
    list-style: none;
    animation: cambio 40s infinite linear; /* Ajusta la duración para mostrar cada imagen completa */
}

.slider li {
    flex: 0 0 100%; /* Establece el ancho de cada imagen al 100% del contenedor */
    margin-right: 20px;
}

.slider li img {
    width: 100%; /* Ajusta el ancho de la imagen al 100% del contenedor */
    height: auto;
}

@keyframes cambio {
    0% {transform: translateX(0);} /* Estado inicial */
    20% {transform: translateX(0);} /* Muestra la primera imagen durante 10 segundos */
    40% {transform: translateX(-100%);} /* Desplaza a la segunda imagen */
    60% {transform: translateX(-200%);} /* Desplaza a la tercera imagen */
    80% {transform: translateX(-300%);} /* Desplaza a la cuarta imagen */
    100% {transform: translateX(-300%);} /* Mantiene la cuarta imagen durante 10 segundos */
}

	