   /*estructura de la página*/
   html,body {
	height:100%;
}
body {
	background-color: #97ee75;
}
main {
	background:hsl(133, 74%, 48%);
}

p{
   font-size: 75%; 
   text-align:left; 
}
	/*Menu*/
	.menu-btn {
		display: inline-block;
		cursor: pointer;
		padding: 10px;
		background: none;
		border: none;
	}
	.menu-container :hover {
	
		transform: scale(1.1);
}
		
	    .logo {
        width: 230px; /* Ancho*/
        height: 60px; /* Altura */
    }


.slider {
	align-items: center;
	position:relative;
	margin: auto;
	width: 98%;
	overflow: hidden;
	box-shadow: 5px 5px 3px #15db57e7;
}


.container {
	background-color: rgba(185, 255, 120, 0.979); /* Fondo blanco */
	border-radius: 15px; /* Bordes redondeados */
	box-shadow: 0 4px 8px rgba(152, 247, 29, 0.651); /* Sombra */
	padding: 30px; /* Espacio interno */
	max-width: 90%; /* Ancho máximo del contenedor */
	margin: 10px auto; /* Centrar el contenedor en la página */
	display: flex; /* Usar flexbox para crear columnas */
	gap: 20px; /* Espacio entre columnas */
}
.column {
	flex: 1; /* Las columnas toman partes iguales del espacio disponible */
	max-width: 60%;
	align-items: center; /* Centrar verticalmente */
	justify-content: center; /* Centrar horizontalmente */
	text-align: right; /* Centrar el texto dentro de la columna */
}
.column img {
	height: auto; /* Mantener la proporción de la imagen */
	max-width: 700px;
}

footer {
	position: relative;
	margin-top: -50px;
	height: 40px; 
	padding:5px 0px;
	clear: both;
	background: hsla(118, 92%, 58%, 0.919);
	text-align: center;
	color: #000000;
}