   /*estructura de la página*/
   html,body {
	height:100%;
}
body {
	background-color: #75e0ee;
}
main {
	background:hsl(133, 86%, 43%);
}

p{
   font-size: 100%; 
   text-align: left; 
}
	/*Menu*/
	.menu-btn {
		display: inline-block;
		cursor: pointer;
		padding: 10px;
		background: none;
		border: none;
	}
	.menu-container :hover {
	
		transform: scale(1.1);
}
	.menu-btn .bar {
		width: 23px;
		height: 3px;
		background-color: #4c00ff;
		margin: 5px 0;
		transition: 0.4s;}
		
	.menu-container {
		position: relative;
		text-align: left;
		padding: 7px;
	}
		
	.dropdown-menu {
		display: none;
		position: absolute;
		background-color: #1fcbff;
		min-width: 160px;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		z-index: 1;
	}
	.dropdown-menu button {
		display: block;
		width: 100%;
		background-color: #c5ff5a;
		color: rgb(0, 0, 0);
		padding: 10px 20px;
		border: none;
		cursor: pointer;
	}

.slider {
	align-items: center;
	position:relative;
	margin: auto;
	width: 98%;
	overflow: hidden;
	box-shadow: 5px 5px 3px #15db57e7;
}


.container {
	background-color: rgba(96, 255, 189, 0.979); /* Fondo blanco */
	border-radius: 15px; /* Bordes redondeados */
	box-shadow: 0 4px 8px rgba(10, 255, 121, 0.548); /* Sombra */
	padding: 30px; /* Espacio interno */
	max-width: 90%; /* Ancho máximo del contenedor */
	margin: 10px auto; /* Centrar el contenedor en la página */
	display: flex; /* Usar flexbox para crear columnas */
	gap: 20px; /* Espacio entre columnas */
}
.column {
	flex: 1; /* Las columnas toman partes iguales del espacio disponible */
	max-width: 80%;
	align-items: center; /* Centrar verticalmente */
	justify-content: center; /* Centrar horizontalmente */
	text-align: center; /* Centrar el texto dentro de la columna */
}
.column img {
	height: auto; /* Mantener la proporción de la imagen */
	max-width: 700px;
}

footer {
	position: relative;
	margin-top: -50px;
	height: 40px; 
	padding:5px 0px;
	clear: both;
	background: hsla(180, 92%, 58%, 0.919);
	text-align: center;
	color: #000000;
}